.cards img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.cards .btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
}
.btn--block {
  display: block;
  width: 100%;
}
.cards {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  /* width: 80%; */
  font-family: 'Baloo 2', cursive;
}
.cards__item {
  display: -webkit-box;
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  overflow: hidden;
}
.card:hover .card__image {
  -webkit-filter: contrast(100%);
          filter: contrast(100%);
}
.card__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  -webkit-filter: contrast(70%);
          filter: contrast(70%);
  overflow: hidden;
  position: relative;
  -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}
.card__image--flowers {
  background-image: url("../res/uday.jpg");
}
.card__image--river {
  background-image: url("../res/joymakers.jpg");
}
.card__image--record {
  background-image: url("../res/yuva.jpg");
}
.card__image--fence {
  background-image: url("../res/pm-cares-fund.jpg");
}
.card__title {
  color: #696969;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  font-size: 1.15rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

strong {
  font-weight: bold;
}

.know-more {
  font-size: 1.25rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: 0.5rem;
  transition: all 0.5s;
  transform: translateX(0);
}



.arrow {
  position: relative;
  top: 0.17rem;
}

.know-more:hover {
  transform: translateX(-5px);
  transition: all 0.5s;
}

.know-more:hover .arrow{
  transform: translateX(2px);
  transition: all 0.5s  ;
}

.modal {
  font-family: 'Baloo 2', cursive;
  /* padding: auto 0; */
}

.modal img{
  width: 100%;
  margin: 1.8rem auto;
  /* position: relative; */
}

.modal .modal-content {
  margin: auto;
  padding: 0;
}

.modal .modal-close {
  padding-right: 0;
}
