@import "cards.css";

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  /* max-width: 80%; */
  /* margin: auto; */
}

.image-donate {
  /* margin: auto; */
  margin: 1.8rem auto;
  position: relative;
  width: 100vw;
  height: 40vh;
  background: url("../res/donate-main-img.png") no-repeat center center local;
  background-size: auto;
  /* overflow-x: visible; */
  /* height: 100%; */
}

.heading-donate {
  font-family: 'Baloo 2', cursive;
  min-width: 80%;
  margin: auto;
  position: relative;
  margin: 1.8rem 1.8rem;
  /* top: 5%; */
}

.heading-donate h1 {
  font-size: 2.1rem;
  margin-top: 1rem;
}


.heading-donate p {
  font-size: 1rem;
}

.jumbotron {
  max-width: 80%;
  margin: auto;
  margin-bottom: 2rem !important;
}

.jumbotron img {
  width: 60%;
}

h3 {
  font-family: 'Baloo 2', cursive;
  font-size: 1.8rem;
  margin-top: 1rem;
  margin: 1.8rem 1.8rem;
}
